html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #E0D4C7;
  font-family: 'Inter';
}

.topnav {
  width: 100%;
  height: 10%;
  background-color: #C9B090;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  width: 95px;
  height: 95px;
  position: absolute; 
  left: 10px;
}

#home, #employee, #appointment {
  font-family: 'Inter';
  font-weight: bold;
  text-decoration: none;
  position: relative;
  margin: 0 100px; 
}

#home:active, #employee:active, #appointment:active {
  color: #92816b;
  transition: 0.15s;
}

#home {
  color: #FFFFFF;
}

#employee {
  color: #FFFFFF;
}

#appointment {
  color: #000000;
}